*{font-family:Tahoma,Geneva,sans-serif}
body{background:#ffffff}
h4{color:#000;font-size:20px;font-weight:normal}
div#holdall{
    width: 100%;
    height: 800px;
    position: relative;
}
#leftpad{
    width:200px;
    height: 800px;
    display: inline-block;
    margin:5px auto;
    border-right:2px solid#EEEEEE;
    background:#FFFFFF;
    vertical-align: top;
}
#inputdiv{
    display: inline-block;
    width: 100%;
    height: 18px;
}
input#q{
    position: absolute;
    width: 950px;
    height: 15px;
    line-height:15px;
    font-size:12px;
    padding-left:5px
}
ul#results {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li{
    color:#666;
    font-size: 12px;
    padding: 4px;
}
li:hover{
    background: #DDDDDD;
}
body {
    margin: 0;
}
#container {
    display: inline-block;
    width: 800px;
    height: 800px;
    vertical-align: top;
}

